@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}
body{
  background: #E5E5E5;
}
header{
    margin-bottom: 50px;
}
.hero-image {
    background-image: url("./images/banner/banner3.png");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .big{
    color: #FFFFFF;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    padding-top: 216px;
    padding-right: 230px;

  }
  .text{
    color: #FFFFFF;
    text-align: right;
    padding-right: 230px;
    margin-top: 24px;
  }
  .btn{
    color: #005FAC;
    background: #FFFFFF;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    margin-left: 970px;
    margin-top: 55px;
  }
  .side-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 130px;
  }
  .hero-img{
    width: 569px;
height: 723.3px;
  }
  .side-big{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
  }
  .side-title{
    color: #444343;
    text-align: justify;
    margin-bottom: 16px;
  }
  .side-list{
    margin-left: 25px;
  }
  ul li{
    list-style: none;
  }
  ul li::before{
    content: url(images/icons/checkmark.png);
    
  }
  .plan{
    color: #151414;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .totoal-skill{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
  }
  .my-skill{
    width: 218px;
    height: 197px;
  }
  .skill-text{
    color: #151414;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .skill-title{
    color: #737272;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
  }
  .skill-img{
    margin-left: 50px;
  }
  .best-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 130px;
  }
  .box{
    width: 530px;
    height: 380px;
    background: radial-gradient(51.33% 49.78% at 49.47% 44.58%, #FDFDFD 0%, #FCE8E6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding: 41px 110px;
  }
  .bar-site >h1{
    color: #282828;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 36px;
  }
  .bar-site >p{
    color: #282828;
    font-size: 12px;
    margin-bottom: 36px;
  }
  .chat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .design >h3{
    color: #282828;
  }
  .design > p{
    color: #282828;
    text-align: center;
    font-weight: 700;
    font-size: 20px;margin-top: 10px;
  }
  .resume{
    color: #FF4C60;
    margin-top: 60px;
  }
  .hr{
    border: 2px solid #FF4C60;
    width: 135px;
    height: 0px;
  }
  .zero{
    width: 1140px;
    height: 300px;
    border-radius: 5px;
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 130px;
    margin-left: 130px;
    margin-right: 130px;
  }
  .zero > h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    padding-top: 60px;
    padding-left: 60px;
    background: linear-gradient(122deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(350deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(281deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }
  .zero > button{
    margin-top: 24px;
    margin-left: 60px;
    padding: 20px 36px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(122deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(350deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(281deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

  }
  footer{
    background: #151414;
    width: 1400px;
    height: 500px;
    padding: 130px 230px;
    display: flex;
    gap: 150px;
    justify-content: center;
  }
  .last > h1{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .last > p{
    color: #FFFFFF;
    margin-bottom: 24px;

  }
  .sub > h1{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
  }
  input{
    padding: 22px;
    width: 150px;
    height: 10px;
    background: #151414;
    border: 2px solid #F8F8F8;
    

  }
  .sub > button {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 36px;
    margin-top: 36px;
    background: #005FAC;
    border-radius: 8px;
    border: 0;
    color: #FFFFFF;

  }